* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

section {
    background-image: url(./img/image1.jpg);
    background-size: cover;
    height: 100vh;
}

.lorem-air {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    width: 610px;
    max-width: 80%;
    color: seashell;
    background-color: rgba(35, 35, 35, 0.200);
    border: 1px solid rgba(255, 255, 255, 0.4);
    text-align: left;
    border-radius: 5px;
    padding: 5px 5px 0px 5px;
}
.lorem-air h2 {
    text-transform: uppercase;
    font-size: 2.1rem;
    letter-spacing: 2px;
    padding-left: .5rem;
    padding-bottom: .3rem;
}
.lorem-air p {
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-left: .5rem;
    margin-right: 0;
}

.lorem-air .disclaimer {
    margin-top: 1rem;
    font-size: .6rem;
    line-height: 15px;
}

.learn-more {
    float: right;
    cursor: pointer;
    font-size: .7rem;
    color: seashell;
    font-weight: bolder;
    transform: translate(-50%, -50%);
    margin-top: 2rem;
    padding: 6px 7px;
    border-radius: 5px;
    letter-spacing: 2px;
    border: 1px solid rgba(255, 245, 238, 0.500);
    text-transform: uppercase;
    background-image: linear-gradient(rgba(32, 32, 32, 0.900),rgba(75, 75, 75, 0.900));
}
.learn-more:hover {
    background-image: linear-gradient(rgba(248, 200, 144, 0.74),rgba(247, 183, 111, 0.74));
    color: rgb(35,35,35)
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid seashell;
    border-radius: 10px;
    z-index: 10;
    background-color: rgba(255, 245, 238, 0.650);
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
    opacity: 0;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width: 1366px) {
    .lorem-air {
        top: 22%;
        left: 28%;
    }
}